@charset "utf-8";

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fm5oq2');
  src:  url('../fonts/icomoon.eot?fm5oq2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fm5oq2') format('truetype'),
    url('../fonts/icomoon.woff?fm5oq2') format('woff'),
    url('../fonts/icomoon.svg?fm5oq2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Geometria-Bold';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Bold.woff2') format('woff2'),
         url('../fonts/Geometria-Bold.woff') format('woff'),
         url('../fonts/Geometria-Bold.ttf') format('truetype'),
         url('../fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Medium.woff2') format('woff2'),
         url('../fonts/Geometria-Medium.woff') format('woff'),
         url('../fonts/Geometria-Medium.ttf') format('truetype'),
         url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Regular';
    src: url('../fonts/Geometria-Regular.eot');
    src: url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Regular.woff2') format('woff2'),
         url('../fonts/Geometria-Regular.woff') format('woff'),
         url('../fonts/Geometria-Regular.ttf') format('truetype'),
         url('../fonts/Geometria-Regular.svg#Geometria-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: left;
	font-family: 'Geometria-Regular';
	font-size: 16px;
	line-height: 24px;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #434343;
}
a{
	text-decoration: none;
	color: #434343;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.b-sub-form input.error{
	border: 1px solid #F00 !important;
	border-right: 0;
}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'Geometria-Bold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.hide{
	display: none !important;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1152px;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #c4c4c4;
}
input:-moz-placeholder {
	color: #c4c4c4;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before,
[class^="icon-"]:after, 
[class*=" icon-"]:after{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1.b-title{
	color: #FFF;
	font-family: 'Geometria-Bold';
	font-size: 44px;
	line-height: 64px;
	margin-bottom: 15px;
}

h2.b-title{
	color: #434343;
	font-family: 'Geometria-Bold';
	text-align: center;
	font-size: 36px;
	line-height: 44px;
	padding-top: 62px;
	margin-bottom: 37px;
}

h3{
	color: #FFF;
	font-family: 'Geometria-Bold';
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 27px;
}

h4{
	color: #434343;
	font-family: 'Geometria-Bold';
	font-size: 18px;
	line-height: 26px;
	letter-spacing: -0.5px;
	margin-bottom: 4px;
}

.b-btn{
	display: inline-block;
	font-family: 'Geometria-Medium';
	font-size: 18px;
	line-height: 26px;
	color: #6e58ac;
	text-align: center;
	min-width: 180px;
	padding: 13px 46px;
	border-radius: 30px;
	border: 2px solid #6e58ac;
}
	.b-btn:hover{

	}

.b-btn-white{
	color: #FFF;
	border: 2px solid #FFF;
	padding: 13px 46px;
}
	
	.b-btn-white:hover{

	}

.b-center{
	text-align: center;
}

.b-table{
	display: table;
}

.b-table-cell{
	display: table-cell;
	vertical-align: middle;
}

/*-----Иконки-----*/

.icon-phone:before{
	content: "\e908";
  	font-size: 20px;
  	color: #FFF;
  	margin-right: 8px;
}

.icon-favorites:before{
	content: "\e904";
  	font-size: 23px;
  	color: #FFF;
}

.icon-basket:before{
	content: "\e903";
  	font-size: 18px;
  	color: #FFF;
  	margin-right: 8px;
}

.icon-ruble:after{
	content: "\e90a";
  	font-size: 12px;
  	color: #FFF;
  	margin-left: 4px;
}

.icon-arrow-down:after{
	content: '\e900';
    display: block;
    position: absolute;
    right: 0;
    top: 9px;
    font-size: 9px;
    color: #d2d2d2;
    cursor: pointer;
    pointer-events: none;
}

.icon-update:before{
	content: "\e909";
  	font-size: 18px;
  	color: #c4c4c4;
}

.icon-arrow-right:before{
	content: "\e901";
  	font-size: 23px;
  	color: #FFF;
}

.icon-vk:before {
    content: "\e90b";
    font-size: 18px;
    color: #434343;
    line-height: 27px;
}

.icon-facebook:before {
    content: "\e905";
    font-size: 24px;
    color: #434343;
    line-height: 28px;
}

.icon-ok:before {
    content: "\e907";
    font-size: 24px;
    color: #434343;
    line-height: 28px;
}

.icon-instagram:before {
    content: "\e906";
    font-size: 24px;
    color: #434343;
    line-height: 28px;
}

.icon-arrow-up:before {
    content: "\e902";
    font-size: 24px;
    color: #434343;
    opacity: 0.5;
    line-height: 28px;
}

/*----Инпуты/селекты----*/

.select-wrapper{
	position: relative;
}

select {
	color: #c4c4c4;
	font-size: 18px;
    border: none;
    width: 100%;
    font-family: 'Geometria-Regular';
    background-color: transparent;
    vertical-align: top;
    padding-bottom: 11px;
    padding-right: 28px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input{
	display: inline-block;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	color: #434343;
	font-size: 16px;
    width: 100%;
    padding: 11px 24px;
    font-family: 'Geometria-Regular';
    background-color: transparent;
}

.b-content{
	padding-top: 36px;
	padding-bottom: 70px;
}

/*------Главная------*/

.b-header{
	color: #FFF;
	background-color: #f8f8f8;
	background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url(../i/header.svg);
    background-size: 2560px;
}
	.b-top{
		font-family: "Geometria-Medium";
		padding-top: 36px;
		margin-bottom: 75px;
	}

		.b-top a,.b-top p{
			color: #FFF;
		}

		.b-logo{
			float: left;
			display: inline-block;
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-image: url(../i/logo.svg);
		    background-size: 280px;
		    width: 280px;
		    height: 47px;
		}

	.b-header-title{
		margin-bottom: 188px;
	}

	.b-menu{
		float: left;
		margin-left: 47px;
	}

		.b-menu li{
			float: left;
			position: relative;
			border-radius: 20px;
			margin-top: 3px;
			margin-right: 14px;
		}
		.b-menu li:last-child{
			margin-right: 0;
		}

			.b-menu li a{
			    display: block;
			    padding: 4px 16px;
			    border-radius: 20px;
			    border: 1px solid transparent;
			}
			.b-menu li a:hover{
				border: 1px solid #FFF;
			}

		.b-submenu {
		    position: absolute;
		    left: 0px;
		    top: 50px;
		    background-color: #FFF;
		    padding: 17px 22px;
		    border-radius: 3px;
		    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
		    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
		    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
		    visibility: hidden;
		    opacity: 0;
		    -webkit-transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    -moz-transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    -ms-transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    -o-transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    -webkit-transform: translateY(20px);
		    -moz-transform: translateY(20px);
		    -ms-transform: translateY(20px);
		    -o-transform: translateY(20px);
		    transform: translateY(20px);
		}

		.b-submenu:before {
		    position: absolute;
		    content: "s";
		    font-size: 0px;
		    width: 0px;
		    height: 0px;
		    left: 50px;
		    top: -14px;
		    border-top: 7px solid transparent;
		    border-right: 8px solid transparent;
		    border-bottom: 7px solid #FFF;
		    border-left: 8px solid transparent;
		}

			.b-submenu li a {
			    white-space: nowrap;
			    display: inline-block;
			    padding: 8px 0px;
			    font-size: 14px;
			    line-height: 14px;
			    color: #434343;
			    font-family: "Geometria-Bold";
			}

			.b-menu li:hover .b-submenu {
			    visibility: visible;
			    opacity: 1;
			    -webkit-transform: translateY(0px);
			    -moz-transform: translateY(0px);
			    -ms-transform: translateY(0px);
			    -o-transform: translateY(0px);
			    transform: translateY(0px);
			}

	.b-top-right{
		float: right;
	}

		.b-top-phone{
			display: inline-block;
			margin-right: 20px;
		}

			.icon-phone:before{
				display: inline-block;
				vertical-align: top;
				padding-top: 2px;
			}

		.icon-favorites{
		    display: inline-block;
		    margin-right: 20px;
		    vertical-align: top;
		    padding-top: 6px;
		}

		.b-basket{
			display: inline-block;
			padding: 5px 16px 2px;
			border: 1px solid #FFF;
			border-radius: 20px;
		}
			.icon-basket{
				display: inline-block;
				vertical-align: top;
				padding-top: 2px;
			}
			.b-basket-price{
				display: inline-block;
			}

	.b-header-title-list{

	}
		.b-header-title-item{
			display: inline-block;
			margin-right: 44px;
		}
			.b-header-title-item img{
				margin-top: 4px;
				display: inline-block;
				margin-right: 20px;
				height: 40px;
			}
			.b-header-title-item p{
				vertical-align: top;
				display: inline-block;
			}

	ul.b-catalog-list{
		font-family: 'Geometria-Medium';
		padding-bottom: 46px;
	}

		ul.b-catalog-list li{
			float: left;
			font-size: 20px;
			margin-right: 54px;
		}

		ul.b-catalog-list li:last-child{
			margin-right: 0;
		}

			ul.b-catalog-list li a{

			}

.b-filter{
	font-size: 18px;
	font-family: 'Geometria-Medium';
}

	.b-filter-price,
	.b-filter-flowers,
	.b-filter-colors{
		display: inline-block;
		vertical-align: top;
	}

	.b-filter-price{
		margin-right: 92px;
		padding-top: 2px;
	}

	.b-filter-flowers{
		padding-top: 2px;
	}

	.b-filter-colors{
		float: right;
		margin-right: 7px;
	}

	.b-filter p{
		display: inline-block;
		margin-right: 8px;
	}

		.b-filter .select-wrapper{
			display: inline-block;
		}

	.color-item{
		display: inline-block;
		width: 28px;
		height: 28px;
		border-radius: 100px;
		margin-right: 20px;
	}

	.color-red{
		background-image: linear-gradient(180deg, #e34752 0%, #c4121e 100%);
	}
	.color-pink{
		background-image: linear-gradient(180deg, #ffe6eb 0%, #ffd1f1 100%);
	}
	.color-beige{
		background-image: linear-gradient(180deg, #ffeddb 0%, #f7d9ce 100%);
	}
	.color-yellow{
		background-image: linear-gradient(180deg, #ffecb7 0%, #fcd159 100%);
	}
	.color-orange{
		background-image: linear-gradient(180deg, #ffce9c 0%, #f08c36 100%);
	}
	.color-blue{
		background-image: linear-gradient(180deg, #9ca8ff 0%, #5769ea 100%);
	}
	.color-purple{
		background-image: linear-gradient(180deg, #e49cff 0%, #ae57ea 100%);
	}
	.color-black{
		background-image: linear-gradient(180deg, #4d4d4d 0%, #0e0e0e 100%);
	}
	.color-white{
		background-image: linear-gradient(180deg, #ffffff 0%, #f5f4f4 100%);
		border: 1px solid #e5e2e2;
	}
	.color-all{
		display: inline-block;
		background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-image: url(../i/colors.svg);
	    background-size: 28px;
	    width: 28px;
	    height: 28px;
	    margin-right: 35px;
	}

	.color-reset{
		position: relative;
		padding-top: 2px;
    	vertical-align: top;
    	display: inline-block;
	}

		.b-tip{
			visibility: hidden;
		    opacity: 0;
			z-index: 2;
		    position: absolute;
		    left: -52px;
		    top: -64px;
		    font-size: 16px;
		    background-color: #f8f8f8;
		    padding: 12px 24px;
		    white-space: nowrap;
		    text-align: center;
		    border-radius: 3px;
		    font-family: 'Geometria-Regular';
		    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		    -webkit-transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    -moz-transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    -ms-transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    -o-transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    transition: transform 300ms ease-out, opacity 300ms ease-out, visibility 300ms ease-out;
		    -webkit-transform: translateY(10px);
		    -moz-transform: translateY(10px);
		    -ms-transform: translateY(10px);
		    -o-transform: translateY(10px);
		    transform: translateY(10px);
		    transform-origin: 50% 0;
		}

		.b-tip:before {
	        z-index: 3;
		    position: absolute;
		    content: "s";
		    font-size: 0px;
		    width: 0px;
		    height: 0px;
		    left: 52px;
		    top: 47px;
		    border-top: 11px solid #f8f8f8;
		    border-right: 11px solid transparent;
		    border-bottom: 0px solid transparent;
		    border-left: 11px solid transparent;
		}

		.color-reset:hover .b-tip{
			visibility: visible;
		    opacity: 1;
		    -webkit-transform: translateY(0px);
		    -moz-transform: translateY(0px);
		    -ms-transform: translateY(0px);
		    -o-transform: translateY(0px);
		    transform: translateY(0px);
		}

.b-catalog{
	margin-bottom: 12px;
}
	.b-catalog-list{

	}
		.b-catalog-item{
			min-height: 375px;
			position: relative;
			width: calc(100%/4 - 18px);
			float: left;
			margin-right: 24px;
			margin-bottom: 9px;
		}
		.b-catalog-item:nth-child(4n){
			margin-right: 0;
		}

			.b-catalog-item-back{
				width: 100%;
				height: 100%;
				position: absolute;
				border-radius: 6px;
				background-color: #FFF;
				-webkit-transition: transform 300ms ease-out, box-shadow 300ms ease-out;
			    -moz-transition: transform 300ms ease-out, box-shadow 300ms ease-out;
			    -ms-transition: transform 300ms ease-out, box-shadow 300ms ease-out;
			    -o-transition: transform 300ms ease-out, box-shadow 300ms ease-out;
			    transition: transform 300ms ease-out, box-shadow 300ms ease-out;
			}
			.b-catalog-item:hover .b-catalog-item-back{
				-webkit-transform: scale(1.12,1.05);
				   -moz-transform: scale(1.12,1.05);
				    -ms-transform: scale(1.12,1.05);
				   	 -o-transform: scale(1.12,1.05);
						transform: scale(1.12,1.05);
				-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
			    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
			    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
			}
			.b-catalog-item-content{
				position: absolute;
			}
				.flowers-img-cont{
					position: relative;
					width: 270px;
					height: 270px;
					margin-bottom: 20px;
					border-radius: 3px;
				}
					.flowers-img{
						position: absolute;
						background-position: 50% 50%;
					    background-repeat: no-repeat;
					    background-size: cover;
						width: 270px;
						height: 270px;
					}
					.b-catalog-item-hover{
						position: absolute;
						width: 100%;
						height: 270px;
					}
						.b-catalog-item-hover-back{
							position: absolute;
							width: 100%;
							height: 270px;
							background-color: #000;
							opacity: 0;
							visibility: hidden;
							-webkit-transition: opacity 300ms ease-out, visibility 300ms ease-out;
						    -moz-transition: opacity 300ms ease-out, visibility 300ms ease-out;
						    -ms-transition: opacity 300ms ease-out, visibility 300ms ease-out;
						    -o-transition: opacity 300ms ease-out, visibility 300ms ease-out;
						    transition: opacity 300ms ease-out, visibility 300ms ease-out;
						}
						.b-catalog-item:hover .b-catalog-item-hover-back{
							opacity: 0.5;
							visibility: visible;
						}
						.b-catalog-item-hover-content{
	    					width: 100%;
							height: 270px;
	    					padding: 10px 24px 24px;
    						opacity: 0;
							visibility: hidden;
							-webkit-transition: opacity 300ms ease-out, visibility 300ms ease-out;
						    -moz-transition: opacity 300ms ease-out, visibility 300ms ease-out;
						    -ms-transition: opacity 300ms ease-out, visibility 300ms ease-out;
						    -o-transition: opacity 300ms ease-out, visibility 300ms ease-out;
						    transition: opacity 300ms ease-out, visibility 300ms ease-out;
						}
						.b-catalog-item:hover .b-catalog-item-hover-content{
							opacity: 1;
							visibility: visible;
						}
							.b-catalog-hover-size{
								position: absolute;
	    						top: 10px;
								color: #FFF;
								font-family: 'Geometria-Medium';
								font-size: 16px;
								line-height: 24px;
							}
								.b-catalog-hover-size .icon-arrow-right:before{
									font-size: 13px;
								}
								.size-width{
									color: #FFF;
									font-family: 'Geometria-Medium';
									font-size: 16px;
									line-height: 24px;
									padding-left: 24px;
								}
									.size-width .icon-arrow-right:before{
										margin-left: 8px;
									}
								.size-height{
									display: inline-block;
									color: #FFF;
									font-family: 'Geometria-Medium';
									font-size: 16px;
									line-height: 24px;
									padding-bottom: 48px;
									-webkit-transform: rotate(-90deg);
									   -moz-transform: rotate(-90deg);
									    -ms-transform: rotate(-90deg);
									   	 -o-transform: rotate(-90deg);
											transform: rotate(-90deg);
								}
									.size-width .icon-arrow-right:before{
										margin-left: 8px;
									}
							.b-catalog-hover-text{
								position: absolute;
	    						bottom: 18px;
	    						font-family: 'Geometria-Medium';
	    						color: #FFF;
								font-size: 16px;
								line-height: 24px;
							}
							
				.b-catalog-item-price{
					float: left;
					display: inline-block;
					font-family: 'Geometria-Bold';
					font-size: 26px;
					line-height: 28px;
					-webkit-transition: transform 300ms ease-out;
				    -moz-transition: transform 300ms ease-out;
				    -ms-transition: transform 300ms ease-out;
				    -o-transition: transform 300ms ease-out;
				    transition: transform 300ms ease-out;
				}
					.b-catalog-item-price.icon-ruble:after{
						color: #434343;
						font-size: 18px;
						margin-left: 6px;
					}

				.b-catalog-item:hover .b-catalog-item-price{
					-webkit-transform: translateY(18px);
				    -moz-transform: translateY(18px);
				    -ms-transform: translateY(18px);
				    -o-transform: translateY(18px);
				    transform: translateY(18px);
				}

				.b-bth-buy{
					float: right;
					color: #f43d84;
					font-family: 'Geometria-Medium';
					font-size: 16px;
					line-height: 24px;
					padding: 8px 34px 8px;
					border-radius: 100px;
					border: 2px solid #f43d84;
					margin-top: 10px;
					opacity: 0;
					visibility: hidden;
					-webkit-transition: opacity 300ms ease-out, visibility 300ms ease-out;
				    -moz-transition: opacity 300ms ease-out, visibility 300ms ease-out;
				    -ms-transition: opacity 300ms ease-out, visibility 300ms ease-out;
				    -o-transition: opacity 300ms ease-out, visibility 300ms ease-out;
				    transition: opacity 300ms ease-out, visibility 300ms ease-out;
				}

				.b-catalog-item:hover .b-bth-buy{
					opacity: 1;
					visibility: visible;
				}

.b-review-slider{
	float: right;
	width: calc(50% - 13px);
	min-height: 270px;
	color: #FFF;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../i/review-back.jpg);
    background-size: cover;
}

	.b-review-item{
		width: 100%;
		padding: 30px 32px;
	}
		.b-review-slider h3{

		}
		.b-review-slider .b-review-text{
			margin-bottom: 19px;
		}
		.b-review-slider .b-review-name{
			font-family: 'Geometria-Medium';
			float: right;
		}

.b-call{
	float: right;
	width: calc(50% - 13px);
	min-height: 344px;
	color: #FFF;
	padding: 0 32px;
	text-align: center;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../i/index-1.jpg);
    background-size: cover;
}

	.b-call .b-table-cell{
		padding-top: 16px;
	}

	.b-call h3{
		margin-bottom: 16px;
	}

	.b-call p{
		font-size: 18px;
		line-height: 26px;
	}

	.b-call .b-btn{
		margin-top: 23px;
	}

.b-questions{
	margin-bottom: 60px;
}
	.b-questions-list{

	}
		.b-questions-item{
			width: calc(100%/4 - 18px);
			min-height: 270px;
			float: left;
			padding: 0 26px;
			text-align: center;
			-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			background-color: #f8f8f8;
			margin-right: 24px;
			margin-bottom: 14px;
		}
		.b-questions-item:last-child{
			margin-right: 0;
		}
			.b-questions-item p{
				font-size: 20px;
				line-height: 29px;
			}
			.b-questions-item h3{
				font-family: 'Geometria-Medium';
				margin-bottom: 16px;
			}

			.b-questions-item.read-more{
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-image: url(../i/review-back.jpg);
			    background-size: cover;
			}

.b-main-info{

}
	.b-main-info .b-block{
		width: 960px;
	}
	.b-main-info h3{
		color: #434343;
		letter-spacing: -0.2px;
	}

.b-footer{
	background-color: #f8f8f8;
}
	.b-footer-top{
		padding: 40px 0 34px;
	}

	.b-footer-logo{
		display: inline-block;
		margin-top: 5px;
	    width: 280px;
	    height: 47px;
	    background-size: 280px;
		background-color: #434343;
	    -webkit-mask: url(../i/logo.svg) no-repeat 50% 50%;
	    mask: url(../i/logo.svg) no-repeat 50% 50%;
		margin-bottom: 26px;
	}
		.b-footer-column{
			float: left;
			margin-right: 100px;
		}
		.b-footer-column:first-child{
			
		}
		.b-footer-column:nth-last-child(2){
			margin-right: 0;
		}
		.b-footer-column.b-footer-contacts{
			text-align: right;
			float: right;
			margin-right: 0;
		}

			.b-footer-phone{
				font-family: 'Geometria-Bold';
				font-size: 20px;
				line-height: 32px;
			}

			.b-sub-form{
				margin-top: 18px;
			}

				.b-sub-form input{
					max-width: 166px;
					border-right: 0;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				.b-btn-sub{
					color: #434343;
					font-size: 16px;
					border: 1px solid #434343;
					border-radius: 3px;
					padding: 8px 24px 7px;
					margin-left: -5px;
					font-family: 'Geometria-Medium';
					font-size: 16px;
					min-width: 0;
				}
					.b-btn-sub:hover{

					}

			.b-footer-column ul{

			}
				.b-footer-column ul li{
					margin-bottom: 8px;
				}
				.b-footer-column ul li:last-child{
					margin-bottom: 0;
				}
			.b-footer .b-logo{
				color: #434343;
			}
				ul.b-social{
					text-align: center;
				}
					ul.b-social li{
						width: 32px;
						display: inline-block;
						vertical-align: top;
						margin-right: 24px;
					}
					ul.b-social li:last-child{
						margin-right: 0;
					}
						ul.b-social li a{
							width: 100%;
							display: inline-block;
						}

	.b-footer-down{
		border-top: 1px solid #e6e6e6;
		padding: 28px 0;
		font-size: 14px;
		line-height: 24px;
	}
		.b-footer-copyright{
			display: inline-block;
			margin-right: 90px;
		}
		.politics{
			display: inline-block;
			line-height: 16px;
			border-bottom: 1px dashed #979797;
		}
		.politics:hover{
			border-bottom: 1px dashed transparent; 
		}
		.b-redder{
			float: right;
		}
			.b-redder span{

			}
			.b-redder-logo{
				display: inline-block;
				vertical-align: top;
    			margin-top: 3px;
				background-position: 50% 0%;
			    background-repeat: no-repeat;
			    background-image: url(../i/redder.png);
			    width: 80px;
			    height: 14px;
			    background-size: 80px;
			    margin-left: 10px;
			}

.arrow-up{
	position: fixed;
	bottom: 44px;
	right: 0;
	width: 80px;
	height: 60px;
	text-align: center;
	border-radius: 3px;
	background-color: #f8f8f8;
    display: inline-block;
    vertical-align: top;
    padding-top: 16px;
    cursor: pointer;
    -webkit-transition: opacity 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, visibility 300ms ease-out;
    transition: opacity 300ms ease-out, visibility 300ms ease-out;
}

	.arrow-up.hide-opacity{
		opacity: 0;
		visibility: hidden;
	}

/*-------slick-------*/

.slick-dots {
    bottom: -45px;
}

.slick-dots li button:before,
.slick-dots li button:before{
    font-size: 14px;
    color: #f0f0f0;
    opacity: 1;
}

.slick-dots li:hover button:before,
.slick-dots li:hover button:before{
    color: #6e58ac;
    opacity: 0.5;
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active button:before {
    color: #6e58ac;
    opacity: 1;
}

/*--------------------*/

@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-redder-logo {
	    background-image: url(../i/redder@2x.png);
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}