body {
	min-width: 750px;
}

.b-block{
	width: calc(100% - 64px);
}

/*---------------------*/

.b-catalog{

}
	.b-catalog-list{

	}
		.b-catalog-item{
			width: calc(100%/3 - 17px);
			height: calc(100vw/3 - 17px + 94px);
		}
		.b-catalog-item:nth-child(4n){
			margin-right: 24px;
		}
		.b-catalog-item:nth-child(3n){
			margin-right: 0;
		}
			.flowers-img-cont{
				height: calc(100% - 110px);
			}
				.flowers-img{
					background-position: 50% 0%;
				}

.b-review-slider-cont {
    float: none;
    width: 90%;
    margin: 0 auto 70px auto;
    clear: both;
}

.b-call {
    float: none;
    width: 70%;
    margin: 0 auto 30px auto;
    clear: both;
}

.b-main-info .b-block{
	width: calc(100% - 64px);
}

.arrow-up, .arrow-hide{
	left: auto;
	right: 24px;
}

.b-addition-item {
    width: calc(100%/2 - 16px);
}
.b-addition-item:nth-child(3n){
	margin-right: 24px;
}
.b-addition-item:nth-child(2n){
	margin-right: 0;
}
ul.b-catalog-sections{
	width: 100%;
	padding: 0 16px;
}
ul.b-catalog-sections li{
	text-align: center;
	padding: 0 10px;
}
.b-catalog-menu .b-line{
	display: none;
}
.burger-menu{
	display: block;
}
.b-top.b-top-fixed{
	padding-bottom: 18px;
}
.b-top.b-top-fixed .b-logo {
    opacity: 1;
    visibility: visible;
}

.b-top .b-menu{
	display: none;
}

.b-logo {
	top: -3px;
    background-size: 270px;
    width: 270px;
    height: 45px;
}

.b-filter-price, .b-filter-flowers{
	width: 50%;
	float: left;
	margin-bottom: 42px;
}

.b-filter-colors ul {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px){

	.b-questions{
	}
		.b-questions-list{

		}
			.b-questions-item{
				width: calc(100%/2 - 12px);
				margin-bottom: 24px;
			}
			.b-questions-item:nth-child(2n){
				margin-right: 0;
			}

	.b-footer-column:nth-child(2),
	.b-footer-column:nth-child(3){
		display: none;
	}
	.b-footer-copyright {
	    margin-right: 40px;
	}

}

@media screen and (max-width: 850px){

	.b-catalog-item{
		width: calc(100%/2 - 13px);
		height: 55vw;
	}
	.b-catalog-item:nth-child(3n){
		margin-right: 24px;
	}
	.b-catalog-item:nth-child(2n){
		margin-right: 0;
	}
		.flowers-img-cont{

		}

	.b-call {
	    width: 90%;
	}

	.b-footer-copyright {
	    margin-right: 30px;
	}

	.b-footer-down-left{
		width: 350px;
	}
	.b-redder{
		padding-top: 12px;
	}
}
