body {
	min-width: 320px;
}

.b-block{
	width: calc(100% - 64px);
}

h1.b-title-temp{
	font-size: 42px;
	line-height: 50px;
}

/*---------------------*/

.b-catalog-item{
	width: calc(100%/2 - 13px);
	height: calc(100vw/2 - 13px + 82px);
	margin-bottom: 40px;
}
.b-catalog-item:nth-child(3n){
	margin-right: 24px;
}
.b-catalog-item:nth-child(2n){
	margin-right: 0;
}
	.flowers-img-cont{
		height: calc(100% - 114px);
	}
		.flowers-img{
			background-position: 50% 0%;
		}

.b-main-info .b-block{
	width: calc(100% - 64px);
}

.arrow-up, .arrow-hide{
	display: none;
}

.b-questions{
}
	.b-questions-list{

	}
		.b-questions-item{
			width: calc(100%/2 - 12px);
			margin-bottom: 24px;
		}
		.b-questions-item:nth-child(2n){
			margin-right: 0;
		}

		.b-catalog-item .b-btn-buy{
			bottom: 10px;
			min-width: 164px;
			opacity: 1;
			visibility: visible;
		}

		.b-catalog-item:hover .b-catalog-item-price .current-price,
		.b-catalog-item:hover .b-catalog-item-price .old-price,
		.b-catalog-item:hover .b-catalog-item-price .new-price{
			-webkit-transform: none;
		    -moz-transform: none;
		    -ms-transform: none;
		    -o-transform: none;
		    transform: none;
		}
		.b-catalog-item-price .current-price{
			margin-top: 22px;
		}
		.b-catalog-item-price .old-price,
		.b-catalog-item-price .new-price{
			margin-top: 3px;
		}

		.b-catalog-item-hover{
			display: none;
		}

.b-review-slider-cont {
    float: none;
    width: 100%;
    margin: 0 auto 70px auto;
    clear: both;
}

.b-call{
	float: none;
    width: 100%;
    clear: both;
    margin-bottom: 0;
    margin-top: 50px;
}

.b-addition-item {
    width: 100%;
    margin-right: 0;
}
.b-addition-item:nth-child(3n),
.b-addition-item:nth-child(2n){
	margin-right: 0;
}

.b-popup{
	width: calc(100% - 48px);
}

.b-review-slider .slick-dots {
    bottom: -74px;
}
.b-catalog-sections{
	width: 100%;
	padding: 0 16px;
}
.b-catalog-sections li{
	text-align: center;
	padding: 0 10px;
}

.b-catalog-menu-desktop{
	display: none;
}
.b-catalog-menu-mobile{
	display: block;
}
.burger-menu{
	display: block;
}
.b-top.b-top-fixed{
	padding-top: 16px;
	padding-bottom: 18px;
}
.b-top.b-top-fixed .b-logo {
    opacity: 1;
    visibility: visible;
}

.b-top{
	padding-top: 34px;
}

.b-top-phone {
    margin-right: 20px;
}

.b-top .b-menu{
	display: none;
}

.b-logo {
	top: -6px;
    background-size: 270px;
    width: 270px;
    height: 45px;
}

.b-footer-logo {
    background-size: 270px;
    width: 270px;
    height: 45px;
}

ul.b-social{
	margin-left: 30px;
}

h1.b-title{
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 32px;
}
.b-header, .b-header.header-retina{
	background-image: url(../i/header-mobile@2x.svg);
    background-size: 768px;
}
.b-header-title {
    padding-top: 116px;
    margin-bottom: 105px;
}
.b-header-title-list .b-advantage-item {
	display: block;
    margin-bottom: 22px;
    margin-right: 0;
}
.b-header-title-inner {
    margin-bottom: 148px;
}
.b-advantage-item img {
    width: 47px;
    height: 40px;
}

.b-footer-column:nth-child(2),
.b-footer-column:nth-child(3){
	display: none;
}

.b-btn-sub {
    padding: 8px 18px 7px;
}

.b-footer-down-left{
	width: 370px;
}
.b-redder{
	padding-top: 12px;
}

.b-catalog {
    margin-bottom: 50px;
}

.b-filter-price, .b-filter-flowers{
	width: 50%;
	float: left;
	margin-bottom: 42px;
}

.b-filter-colors ul {
    padding-bottom: 0;
    margin-bottom: 40px;
    margin-right: 0;
}

.color-item {
    width: 36px;
    height: 36px;
    margin-right: 21px;
}
.color-all {
    margin-right: 0;
}
.color-all .color-all-img{
	width: 36px;
    height: 36px;
    margin-right: 0;
}
.b-filter-colors ul .b-tip-cont{
	display: none;
}
.b-btn-reset,
.b-btn-params{
	display: inline-block;
}
.color-all{
	text-align: center;
}
.b-filter-colors input[type="checkbox"]:checked + .color-all .color-all-img{
    width: 26px;
    height: 26px;
    margin-top: 1px;
}

.b-filter-flowers-list{
	width: 100%;
}
.b-filter-flowers-list ul{
	float: none;
	width: 100%;
	display: block;
}
.b-filter-flowers-list ul li:last-child label {
    margin-bottom: 17px;
}

.b-detail-left{
	width: 100%;
	float: none;
	margin-bottom: 40px;
}
.b-detail-right{
	width: 100%;
	float: none;
	padding-top: 0;
	padding-left: 0;
}

.b-detail{
    margin-bottom: 50px;
}

.b-catalog-similar{
	padding-top: 0;
	margin-bottom: -32px;
}
.buy-one-click{
	margin-left: 120px;
}

.b-contacts {
    float: none;
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
}

.b-map {
    width: 100%;
    height: 400px;
}

.b-review-slider-cont{
	display: none;
}

.b-filter-select-wrap:hover .b-filter-flowers-list,
.b-filter-select-wrap:hover .b-filter-price-list{
	opacity: 0;
	visibility: hidden;
}

.fancybox-container .b-filter-flowers-list,
.fancybox-container .b-filter-price-list{
	width: calc(100% - 48px);
	position: relative;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
    visibility: visible;
}

.fancybox-container .b-filter-price-list{
	max-width: 400px;
}

.fancybox-container .b-filter-flowers-list .b-btn,
.fancybox-container .b-filter-price-list .b-btn{
	clear: both;
	display: inline-block;
}

.b-filter-flowers-list{
	width: 100%;
}
.b-filter-flowers-list ul{
	float: left;
	width: 50%;
	display: block;
}
.b-filter-flowers-list ul li:last-child label {
    margin-bottom: 17px;
}

.b-filter-flowers-list ul:nth-last-of-type(1) li:last-child label,
.b-filter-flowers-list ul:nth-last-of-type(2) li:last-child label{
	margin-bottom: 0;
}

.b-basket-price,
.header-price{
    display: none;
}
.b-basket-name {
    width: 54%;
}
.b-basket-count {
    width: 24%;
}

.b-catalog-item:hover .b-catalog-item-back {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.b-catalog-item:hover,
.b-catalog-item:hover .b-catalog-item-back,
.b-catalog-item:hover .b-catalog-item-content{
	z-index: 0;
}

.b-data-order h2 {
	text-align: left;
    float: none;
    margin-bottom: 40px;
    padding-top: 0;
}

.b-addressee {
    float: none;
    display: inline-block;
}

.b-input-row {
    margin-bottom: 0;
}
.b-input:nth-child(2n) {
	margin-right: 0;
}
.b-input {
    position: relative;
    float: left;
    width: calc(50% - 12px);
    margin-bottom: 40px;
}

.b-total-price{
    text-align: left;
    float: none;
    margin-bottom: 40px;
}

.b-payment-method{
	float: none;
	margin-bottom: 12px;
	clear: both;
}

.b-payment-method-list {
    display: block;
    width: 100%;
    margin-top: 12px;
}
.b-payment-method-item{
	width: 100%;
}

#b-popup-map {
    width: calc(100% - 48px);
}

#b-popup-map .b-btn-address{
	min-width: 0;
}
.number-room-input{
	width: 50%;
}

.b-popup .ui-widget.ui-widget-content{
	width: 100%;
	margin-right: 0;
	margin-bottom: 40px;
}

.b-popup .b-input.number-room{
	width: 100%;
	margin-bottom: 0;
}

.b-time-list {
    width: 100%;
}
.b-time-list ul {
    width: calc(100%/3 - 15px);
}
.ui-datepicker {
    width: calc(50% - 44px);
}

.b-addressee-mobile{
	display: block;
}

.b-address {
    float: none;
    margin-bottom: 36px;
}

.b-radio input[type="radio"] + span + label:active:after,
.b-radio input[type="radio"] + label:active:after{
    background-color: #6e58ac !important;
}
.b-checkbox input[type="checkbox"] + span + label:active:after,
.b-checkbox input[type="checkbox"] + label:active:after{
	border-bottom: 2px solid #6e58ac !important;
    border-right: 2px solid #6e58ac !important;
	display: block;
}

.b-addressee-switch:hover {
    background-color: transparent;
    border: 2px solid #e4e4e4
}
.b-addressee-switch:hover ~ .b-addressee-left:not(.active),
.b-addressee-switch:hover ~ .b-addressee-right:not(.active){
    color: #434343;
}

.delivery-page .ui-widget.ui-widget-content{
	margin-bottom: 40px;
}

a.b-tip-ref:hover + .b-tip{
	opacity: 0;
	visibility: hidden;
}

.b-catalog-menu-mobile {
    padding-bottom: 40px;
}
.b-footer-copyright{
	margin-right: 0px;
}
ul.b-breadcrumbs li:nth-child(3)>span{
	display: none;
}
ul.b-breadcrumbs li:after{
	margin: 0 8px;
	font-size: 10px;
}

.slideout-menu-padding{
	padding: 24px 24px 26px 24px;
}
div.slideout-menu-padding{
	padding-bottom: 94px;
}

.b-basket-sum-text,
.b-basket-btn-mobile{
	display: inline-block;
}
.b-basket-btn-desktop{
	display: none;
}
.b-catalog-menu-tablet{
	display: none;
}
.inner .b-catalog{
	margin-bottom: -40px;
}

.b-call{
	margin-bottom: 0;
}

@media screen and (max-width: 665px){

	h1.b-title {
	    font-size: 32px;
	    line-height: 40px;
	    margin-bottom: 28px;
	}
	.b-header-inner h1.b-title,
	.b-header-inner h3.b-title{
		font-size: 28px;
		line-height: 36px;
	}

	h3 {
	    font-size: 22px;
	    line-height: 30px;
	}

	.b-header-inner, .b-header-inner.header-retina{
		background-image: url(../i/header-inner-mobile.svg);
    	background-size: 665px;
	}

	.b-header-title-inner{
		padding-top: 118px;
   	 	margin-bottom: 80px;
	}

	.b-header-title-list{
		position: relative;
		min-height: 46px;
	}

	.b-header-title-list .b-advantage-item{
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity 500ms ease-out, visibility 500ms ease-out;
	    -moz-transition: opacity 500ms ease-out, visibility 500ms ease-out;
	    -ms-transition: opacity 500ms ease-out, visibility 500ms ease-out;
		-o-transition: opacity 500ms ease-out, visibility 500ms ease-out;
	    transition: opacity 500ms ease-out, visibility 500ms ease-out;
	}

	.b-header-title-list .b-advantage-item.advantage-show{
		opacity: 1;
		visibility: visible;
	}

	.b-text h2{
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 24px;
	}

	.b-input{
		margin-bottom: 36px;
	}

	.b-content {
	    padding-top: 40px;
	    padding-bottom: 50px;
	}

	.b-block{
		width: calc(100% - 48px);
	}

	.b-catalog-item{
		height: calc(100vw/2 - 13px + 118px);
	}
	.b-limit .b-catalog-item:nth-child(n+5){
		display: none;
	}
	.b-catalog-item-content{
		text-align: center;
	}
	.flowers-img-cont {
	    height: calc(100% - 142px);
	    margin-bottom: 12px;
	}

	.b-catalog-item .b-btn-buy {
	    left: calc(50% - 82px);
	    right: auto;
	}

	.b-catalog-item-price {
	    float: none;
	    display: block;
	}

	.b-catalog-item-price .current-price {
	    margin-top: 8px;
	    margin-bottom: 22px;
	}

	.b-catalog-item-price .old-price {
		vertical-align: top;
		margin-top: 0;
	    line-height: 16px;
	}
	.b-catalog-item-price .new-price{
		margin-top: -5px;
    	margin-bottom: 14px;
	}

	.b-social.b-social-desktop{
		display: none;
	}
	.b-social.b-social-mobile{
		display: block;
	}
	ul.b-social-mobile{
		margin-top: 18px;
		margin-left: 0;
	}
	.b-footer-column {
	    display: block;
	}
	.b-footer-column.b-footer-contacts{
		text-align: left;
		float: none;
	}
	.b-footer-top {
	    padding: 30px 0 30px;
	}
	.b-footer-logo{
		margin-bottom: 22px;
	}
	.b-footer-address{
		margin-top: 8px;
	}
	.b-sub-form {
	    margin-top: 9px;
	}
	.b-sub-form input {
	    max-width: 186px;
	}

	.b-filter-price, .b-filter-flowers{
		float: none;
		width: 100%;
		margin-bottom: 16px;
		padding-top: 0;
	}
	.b-filter {
	    margin-top: 0;
	    margin-bottom: 30px;
	}

	.color-item {
	    margin-bottom: 16px;
	}

	.b-filter-colors ul {
		margin-top: 8px;
	    margin-bottom: 12px;
	}
	.b-filter-flowers-list {
	    width: 100%;
	    padding: 24px;
	}

	.b-header-title-list .b-advantage-item img {
		width: 32px;
    	height: 34px;
		margin-top: 2px;
	    margin-right: 8px;
	}
	.b-header-title-list .b-advantage-item p, .b-advantage-item .p{
		font-size: 14px;
		line-height: 20px;
	}
	.b-catalog-menu-mobile {
	    padding-bottom: 34px;
	}

	.b-top-phone, .b-basket-btn-cont{
		display: none;
	}
	.b-top-basket-mobile{
		display: block;
	}

	.b-logo {
		top: -1px;
    	left: calc(50% - 110px);
	    background-size: 220px;
	    width: 220px;
	    height: 36px;
	}
	.burger-menu{
		margin-right: 0;
	}
	.b-top.b-top-fixed{
		padding-top: 8px;
		padding-bottom: 10px;
	}

	.b-logo-cont{
		float: left;
	    width: calc(100% - 50px);
		display: inline-block;
		text-align: center;
	}
	.b-top-phone-mobile {
	    display: inline-block;
	}
	.b-logo{
		float: none;
		display: block;
		margin: 0 auto;
	}
	.b-top{
		padding-top: 28px;
		padding-bottom: 0;
	}
	.b-header-title {
	    padding-top: 110px;
	    margin-bottom: 76px;
	}

	.b-detail-right h3,
	.b-detail-right h2{
		font-size: 28px;
		line-height: 36px;
	}

	.b-detail-price .new-price.icon-ruble:after{
		font-size: 20px;
	}

	.b-catalog-similar h2.b-title, .b-addition h2.b-title{
		margin-bottom: 32px;
	}

	.b-detail-left{
		margin-bottom: 24px;
	}

	.b-detail-price .old-price h4{
		font-size: 20px;
	}
	.b-detail-price .old-price h4.icon-ruble-medium:after{
		font-size: 15px;
	}

	.b-header, .b-header.header-retina{
	    background-image: url(../i/header-mobile-v@2x.svg);
	    background-size: 665px;
	}

	.b-header h1.b-title{
		max-width: 350px;
	}

	.b-top.b-top-fixed .b-logo{
		position: absolute;
	    left: 0;
	    right: 0;
		-webkit-transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    -o-transform: translateY(-10px);
	    transform: translateY(-10px);
	    opacity: 0;
	    visibility: hidden;
	}

	.b-top.b-top-fixed .b-top-phone-mobile{
	    margin-top: 6px;
	}

	.b-call p, .b-call .p {
	    font-size: 16px;
	    line-height: 24px;
	}

	.b-popup.b-popup-question h3{
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 0;
	}
	.b-popup.b-popup-question h4{
		font-size: 18px;
		line-height: 26px;
	}

	.b-order-left {
	    height: 82px;
	    width: 80px;
	    padding-right: 0;
	    margin-right: 24px;
	}
	.b-order-box{
		height: 100%;
	}
	.b-order-right {
	    float: none;
	    width: 100%;
	}
	.b-order-right h2{
		max-width: 375px;
		padding-top: 5px;
		margin-bottom: 36px;
	}

	.b-filter-flowers-list ul{
		float: none;
		width: 100%;
	}
	.b-filter-flowers-list ul:nth-last-of-type(2) li:last-child label{
		margin-bottom: 17px;
	}

	.b-basket-name-img {
	    width: 60px;
	    height: 60px;
	}
	.b-basket-name h4,
	.b-basket-name .b-selects{
	    font-size: 16px;
	    line-height: 24px;
	    margin: 0 16px;
	}
	.b-basket-count,
	.table-header th{
		display: none;
	}

	.b-basket-table tr:last-child{
		border-bottom: 0;
	}

	.b-basket-name {
	    width: 65%;
	}

	.b-basket-name .b-selects{
		display: block;
	}

	.b-basket-list h2.b-title{
		display: block;
		margin-bottom: 10px;
	}
	.b-basket-table {
	    margin-bottom: 28px;
	}

	.b-addressee {
	    width: 327px;
	    height: 50px;
	}
	.b-addressee-left {
	    padding: 13px 42px;
	    font-size: 16px;
    	line-height: 24px;
	}
	.b-addressee-right {
	    padding: 13px 42px;
	    font-size: 16px;
    	line-height: 24px;
	}
	.b-btn-addressee {
	    width: 160px;
	    height: 50px;
	}
	.b-addressee-right.active + .b-btn-addressee {
	    left: 156px;
    	width: 170px;
	}
	.b-data-order-top {
	    padding-top: 30px;
	    margin-bottom: 35px;
	}
	.b-total-price {
	    margin-bottom: 32px;
	}

	.ui-datepicker {
	    width: calc(50% - 36px);
	}

	.b-addressee-mobile .b-addressee-left {
	    padding: 13px 30px;
	}

	.b-addressee-mobile .b-addressee-right {
	    padding: 13px 30px;
	}

	.b-addressee-mobile .b-btn-addressee {
	    width: 178px;
	    height: 50px;
	}

	.b-addressee-mobile .b-addressee-right.active + .b-btn-addressee{
		left: 170px;
		width: 156px;
	}

	.b-addition {
	    padding-top: 30px;
	}
	.b-addition-item-content h3.icon-ruble:after{
		font-size: 16px;
	}

	.b-addition-item-content h3{
		margin-bottom: 16px;
	}

}

@media screen and (max-width: 570px){
	h2.b-title, h2{
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 32px;
	}
	
	.b-questions-item{
		min-height: 200px;
		height: 200px;
		width: 100%;
		margin-right: 0;
	}

	.b-popup .b-input {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 40px;
	}

	.b-popup .b-inputs .b-input:last-child{
		margin-bottom: 0;
	}

	.b-popup.b-popup-map .b-inputs .b-input:last-child,
	.number-room input{
		margin-bottom: 40px;
	}

	.b-questions-item:last-child{
		margin-bottom: 0;
	}

	.b-thanks-left{
		width: 20%;
	}

	.b-thanks-right{
	    width: calc(100% - 82px);
	    padding-top: 0;
	}

	.b-detail-right .b-advantage-item {
	    display: block;
	    margin-right: 0;
	    margin-bottom: 16px;
	}

	.b-detail-right .b-advantage-item:last-child{
	    margin-bottom: 0;
	}

	.b-btn-add-basket {
	    width: 100%;
	    min-width: 0;
	}

	.b-btn-more.icon-arrow-right-bold:before,
	.b-btn-add-basket.icon-basket:before,
	.b-btn-buy.icon-success:before,
	.b-btn-more.icon-close-btn:before,
	.b-btn-buy.icon-card:before{
		display: none;
	}

	.b-btn-more:hover .b-btn-more-text,
	.b-btn-buy.icon-success:hover .b-btn-more-text,
	.b-btn-more.icon-close-btn:hover .b-btn-more-text,
	.b-btn-add-basket.icon-basket:hover .b-btn-more-text,
	.b-btn-buy.icon-card:hover .b-btn-more-text{
		-webkit-transform: none;
	    -moz-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	}
	.buy-one-click {
	    text-align: center;
	    margin-left: 0;
	}

	.b-input {
	    width: 100%;
	    margin-right: 0;
	}

	.b-address {
	    line-height: 28px;
	}
	.delivery-price-value, .total-price-value {
	    margin-left: 8px;
	}

	.number-room-input {
	    width: 100%;
	}
	.b-popup .b-input.number-room .b-btn {
	    float: none;
	    width: 100%;
	}

	.ui-datepicker {
	    width: calc(100% - 48px);
	}

}

@media screen and (max-width: 450px){

	h1.b-title-temp{
		font-size: 36px;
		line-height: 40px;
	}

	.b-catalog-item .b-btn-buy {
	    width: 100%;
	    min-width: 0;
	    left: 0;
	    right: 0;
	}
	.b-content {
	    padding-top: 28px;
	}
	.b-popup-padding {
	    padding: 24px 24px 28px 24px;
	}

	.b-call{
		padding: 0 16px;
	}
	.b-call .b-table-cell{
		padding-top: 0;
	}
	.b-call h3{
		line-height: 32px;
		margin-bottom: 12px;
	}
	.b-call .b-btn {
	    margin-top: 19px;
	}
	.b-data-order .b-btn-buy{
		width: 100%;
    	max-width: 330px;
	}
	.b-review-slider-cont{
		padding: 20px 0;
	}
	.b-review-slider-cont h3{
		line-height: 30px;
		margin-bottom: 12px;
		padding: 0 24px;
	}
	.b-review-item {
	    position: relative;
	    height: 182px;
	    width: 100%;
	    padding: 0 24px 24px 24px;
	}
	.b-review-slider .slick-dots {
	    bottom: -68px;
	}

	.b-popup .b-btn{
		min-width: 200px;
	}

	.b-popup-question h4{
		margin-bottom: 8px;
	}

	.icon-thanks-error {
	    float: left;
	    width: 55px;
	    height: 55px;
	    margin-right: 20px;
	}
	.icon-thanks-error:before {
	    font-size: 55px;
	}

	.b-popup-success .b-thanks-right,
	.b-popup-error .b-thanks-right{
	    width: calc(100% - 78px);
	    padding-top: 0;
	}

	.b-thanks .b-btn, .b-popup-order-success .b-btn {
	    margin-top: 24px;
	}

	.b-popup h3 {
		font-size: 20px;
		line-height: 28px;
	    margin-bottom: 18px;
	}

	.icon-thanks-success {
	    float: left;
	    width: 55px;
	    height: 43px;
	    margin-right: 20px;
	}
	.icon-thanks-success:before {
	    font-size: 44px;
	}

	.b-thanks-left {
	    width: 60px;
	    height: 62px;
	    margin-right: 20px;
	}

	.b-sub-form input {
	    max-width: calc(100% - 143px);
	}

	.b-btn-add-basket {
	    border: 2px solid #f43d84;
	    padding: 15px 30px 16px;
	    border-radius: 100px;
	    font-size: 22px;
	}

	.b-order-right .b-btn-buy{
		width: 100%;
	}

	.b-basket-table .b-tip-cont {
	    margin-right: -12px;
	}

	.b-popup-padding-header {
	    padding: 32px 24px;
	}

	.b-popup-map .short-header{
		display: block;
	}
	.b-popup-map .full-header{
		display: none;
	}
	#b-popup-map .b-price-delivery{
		font-size: 16px;
		line-height: 24px;
		text-align: left;
	}
	#b-popup-map h3 {
	    text-align: left;
	}
	.js-order-adress-map-price.icon-ruble:after{
		font-size: 12px;
	}

	.b-btn-filter {
	    margin-left: 22px;
	}

}

@media screen and (max-width: 374px){

	.b-addition-item img {
	    width: 105px;
	    height: 105px;
	}
	.b-addition-item-content{
		padding-top: 0;
	}
	.b-addition-item-content .b-btn-buy{
		padding: 8px 25px 9px;
	}

	.b-catalog-menu-mobile{
		font-size: 16px;
	}
	.sections-mobile.icon-arrow-down:after{
		font-size: 8px;
	}

	.b-addressee {
	    width: 100%;
	}

	.b-addressee-left,
	.b-addressee-right,
	.b-addressee-mobile .b-addressee-left,
	.b-addressee-mobile .b-addressee-right{
	    width: 50%;
	    text-align: center;
	    padding: 13px 0;
	}
	.b-addressee-mobile .b-addressee-left,
	.b-addressee-mobile .b-addressee-right{
		font-size: 14px;
	}
	.b-btn-addressee,
	.b-addressee-mobile .b-btn-addressee {
	    width: 50%;
	}
	.b-addressee-right.active + .b-btn-addressee,
	.b-addressee-mobile .b-addressee-right.active + .b-btn-addressee{
		left: 50%;
    	width: 50%;
	}

	.b-filter-colors {
	    margin-right: 0;
	}
	.color-item {
	    margin-right: 18px;
	}
	.b-filter-colors ul li:nth-child(5n) label{
		margin-right: 0;
	}

}

@media screen and (max-width: 350px){
	.b-header-inner h1.b-title, 
	.b-header-inner h3.b-title{
		font-size: 24px;
	}
	.b-catalog-item{
		width: 100%;
		height: calc(100vw + 98px);
		margin-right: 0;
	}
	.flowers-img-cont {
	    height: calc(100% - 146px);
	}
	.b-catalog-item:nth-child(2n){
		margin-right: 0;
	}
	.b-btn-add-basket {
	    font-size: 20px;
	}

	.b-btn-filter {
	    margin-left: 6px;
	}

	.b-catalog-item .b-btn-buy {
	    width: auto;
	    min-width: 164px;
	    left: calc(50% - 82px);
	    right: auto;
	}

	.icon-thanks-success,
	.icon-thanks-error,
	.b-thanks-left{
		display: none;
	}
	.b-popup-success .b-thanks-right,
	.b-popup-error .b-thanks-right,
	.b-thanks-right{
		width: 100%;
	}

	.b-review-item {
	    height: 154px;
	}

	#b-popup-one-click .b-basket-item-text{
		margin-top: 5px;
    	width: calc(100% - 96px);
	}

	#b-popup-one-click img{
		width: 78px;
    	height: 78px;
    	margin-right: 12px;
	}

	.fancybox-container .b-filter-flowers-list .b-btn,
	.fancybox-container .b-filter-price-list .b-btn{
		min-width: 200px;
	}

	.b-catalog-menu-mobile{
		font-size: 15px;
	}

	.b-logo {
	    left: calc(50% - 100px);
	    background-size: 200px;
	    width: 200px;
	    height: 36px;
	}

}