body {
	min-width: 750px;
}

.b-block{
	width: calc(100% - 64px);
}

/*---------------------*/

.b-menu {
    margin-left: 120px;
}
.b-menu li {
    margin-right: 6px;
}
.b-top-phone {
    margin-right: 14px;
}

.b-catalog{

}
	.b-catalog-list{

	}
		.b-catalog-item{
			width: calc(100%/3 - 17px);
			height: calc(100vw/3 - 17px + 94px);
		}
		.b-catalog-item:nth-child(4n){
			margin-right: 24px;
		}
		.b-catalog-item:nth-child(3n){
			margin-right: 0;
		}
			.flowers-img-cont{
				height: calc(100% - 116px);
			}
				.flowers-img{
					background-position: 50% 0%;
				}

.b-review-slider-cont {
    float: none;
    width: 90%;
    margin: 0 auto 70px auto;
    clear: both;
}

.b-call {
    float: none;
    width: 70%;
    margin: 0 auto 30px auto;
    clear: both;
}

.b-main-info .b-block{
	width: calc(100% - 64px);
}

.arrow-up, .arrow-hide{
	left: auto;
	right: 24px;
}

.b-addition-item {
    width: calc(100%/2 - 16px);
}
.b-addition-item:nth-child(3n){
	margin-right: 24px;
}
.b-addition-item:nth-child(2n){
	margin-right: 0;
}
ul.b-catalog-sections{
	width: 100%;
	padding: 0 16px 16px 16px;
}
ul.b-catalog-sections li{
	text-align: center;
	padding: 0 10px;
}

.b-filter-price, .b-filter-flowers{
	width: 50%;
	float: left;
	margin-bottom: 42px;
}

.b-filter-colors ul {
    padding-bottom: 0;
}

.b-review-slider-cont{
	display: none;
}
.b-call {
    margin-top: 50px;
}

.b-filter-flowers-list{
	width: 100%;
}
	.b-filter-flowers-list ul{
		float: left;
		width: 50%;
		display: block;
	}
	.b-filter-flowers-list ul li:last-child label {
	    margin-bottom: 17px;
	}

	.b-filter-flowers-list ul:nth-last-of-type(1) li:last-child label,
	.b-filter-flowers-list ul:nth-last-of-type(2) li:last-child label{
		margin-bottom: 0;
	}

	#b-popup-map {
	    width: calc(100% - 48px);
	}

	#b-popup-map .b-btn-address{
		min-width: 0;
	}
	.number-room-input{
		width: 50%;
	}
ul.b-catalog-sections li a{
	font-size: 18px;
}

@media screen and (max-width: 1023px){

	.b-top .b-menu{
		display: none;
	}
	.burger-menu{
		display: block;
	}
	.b-top.b-top-fixed{
		padding-bottom: 18px;
	}
	.b-top.b-top-fixed .b-logo {
	    opacity: 1;
	    visibility: visible;
	}

	.b-logo {
		top: -6px;
	    background-size: 270px;
	    width: 270px;
	    height: 45px;
	}

	.b-catalog-menu .b-line{
		display: none;
	}

	.b-questions{
	}
		.b-questions-list{

		}
			.b-questions-item{
				width: calc(100%/2 - 12px);
				margin-bottom: 24px;
			}
			.b-questions-item:nth-child(2n){
				margin-right: 0;
			}

	.b-footer-column:nth-child(2),
	.b-footer-column:nth-child(3){
		display: none;
	}
	.b-footer-copyright {
	    margin-right: 40px;
	}

	.b-filter-flowers-list ul{
		float: none;
		width: 100%;
	}

	.b-detail-right .b-advantage-item {
	    display: block;
	    margin-right: 0;
	    margin-bottom: 16px;
	}

	.b-detail-right .b-advantage-item:last-child{
	    margin-bottom: 0;
	}

	.b-payment {
	    margin-bottom: 24px;
	}
	.b-btn-add-basket {
	    width: 100%;
	    min-width: 0;
	}

	.b-btn-add-basket.icon-basket:before{
		display: none;
	}

	.b-btn-add-basket.icon-basket:hover .b-btn-more-text{
		-webkit-transform: none;
	    -moz-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	}

	.b-map {
	    height: 300px;
	}

	.b-total-price{
	    text-align: left;
	    float: none;
	    margin-bottom: 40px;
	}

	.b-payment-method{
		float: none;
		margin-bottom: 12px;
		clear: both;
	}

	.b-addressee-input.hide .b-payment-method{
		padding-top: 40px;
	}

	.b-input-row {
	    margin-bottom: 0;
	}
	.b-input {
	    margin-bottom: 40px;
	}

	.delivery-page .ui-widget.ui-widget-content{
		margin-bottom: 40px;
	}

	.b-filter-select-wrap:hover .b-filter-flowers-list,
	.b-filter-select-wrap:hover .b-filter-price-list{
		opacity: 0;
		visibility: hidden;
	}

	.fancybox-container .b-filter-flowers-list,
	.fancybox-container .b-filter-price-list{
		width: calc(100% - 48px);
		position: relative;
	    top: 0;
	    -webkit-transform: none;
	    -moz-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	    transform: none;
	    opacity: 1;
	    visibility: visible;
	}
	.fancybox-container .b-filter-price-list{
		max-width: 400px;
	}

	.b-filter-flowers-list{
		width: 100%;
	}
	.b-filter-flowers-list ul{
		float: left;
		width: 50%;
		display: block;
	}
	.b-filter-flowers-list ul li:last-child label {
	    margin-bottom: 17px;
	}

	.b-filter-flowers-list ul:nth-last-of-type(1) li:last-child label,
	.b-filter-flowers-list ul:nth-last-of-type(2) li:last-child label{
		margin-bottom: 0;
	}

}

@media screen and (max-width: 950px){

	.b-addressee {
	    width: 345px;
	    border-radius: 30px;
	}

	.b-addressee-left {
	    padding: 14px 48px 15px;
	}

	.b-addressee-right {
	    padding: 14px 35px 15px 35px;
	}

	.b-btn-addressee {
	    width: 180px;
	}

	.b-addressee-right.active + .b-btn-addressee {
	    left: 174px;
	    width: 170px;
	}
	.b-input:nth-child(2n) {
    	margin-right: 0;
	}
	.b-input {
	    position: relative;
	    float: left;
	    width: calc(50% - 12px);
	    margin-bottom: 40px;
	}

	.b-time-list {
	    width: 100%;
	}
	.b-time-list ul {
	    width: calc(100%/3 - 15px);
	}
	.ui-datepicker {
	    width: calc(50% - 44px);
	}

}

@media screen and (max-width: 850px){

	.b-catalog-item{
		width: calc(100%/2 - 13px);
		height: calc(100vw/2 - 13px + 82px);
		margin-bottom: 40px;
	}
	.b-catalog-item:nth-child(3n){
		margin-right: 24px;
	}
	.b-catalog-item:nth-child(2n){
		margin-right: 0;
	}
		.flowers-img-cont{

		}

		.b-catalog-item .b-btn-buy{
			bottom: 10px;
			min-width: 164px;
			opacity: 1;
			visibility: visible;
		}

		.b-catalog-item:hover .b-catalog-item-price .current-price,
		.b-catalog-item:hover .b-catalog-item-price .old-price,
		.b-catalog-item:hover .b-catalog-item-price .new-price{
			-webkit-transform: none;
		    -moz-transform: none;
		    -ms-transform: none;
		    -o-transform: none;
		    transform: none;
		}
		.b-catalog-item-price .current-price{
			margin-top: 22px;
		}
		.b-catalog-item-price .old-price,
		.b-catalog-item-price .new-price{
			margin-top: 3px;
		}

	.b-call {
	    width: 90%;
	}

	.b-footer-copyright {
	    margin-right: 30px;
	}

	.b-footer-down-left{
		width: 350px;
	}
	.b-redder{
		padding-top: 12px;
	}

	.b-btn-add-basket {
	    border: 2px solid #f43d84;
	    padding: 15px 30px 16px;
	    border-radius: 100px;
	    font-size: 22px;
	}

	.b-basket-name{
		width: 46%;
	}
	.b-basket-price {
	    width: 16%;
	}
	.b-basket-count {
	    width: 20%;
	}

	.b-popup .ui-widget.ui-widget-content{
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}

	.b-popup .b-input.number-room{
		width: 100%;
		margin-bottom: 0;
	}
}
